{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "jquery": true,
    "mocha": true,
    "jasmine": true,
    "jest": true
  },
  "rules": {
    "indent": ["error", 2],
    "no-console": 0,
    "no-debugger": 0,
    "func-names": 0,
    "no-unused-vars": [2, {"vars": "all", "args": "none"}],
    "object-curly-spacing": ["error", "never"],
    "react/no-multi-comp": 0,
    "react/sort-comp": [2, {
      "order": [
        "displayName",
        "propTypes",
        "contextTypes",
        "childContextTypes",
        "mixins",
        "statics",
        "defaultProps",
        "constructor",
        "getDefaultProps",
        "getInitialState",
        "getChildContext",
        "componentWillMount",
        "componentDidMount",
        "componentWillReceiveProps",
        "shouldComponentUpdate",
        "componentWillUpdate",
        "componentDidUpdate",
        "componentWillUnmount",
        "/^_?on.+$/",     // private methods
        "/^_on.+$/",
        "/^_get.+$/",     // private methods
        "/^get.+$/",
        "/^_render.+$/",  // private methods
        "/^render.+$/",
        "render"
      ]
    }]
  }
}

